/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 19px;
	font-style: italic;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	border: 5px solid #333;
	overflow: hidden;

	width: 100%;
	height: 100%;
	background-size: 50px 50px;
	background-image: linear-gradient(
			45deg,
			#8e8484 25%,
			transparent 25%,
			transparent 75%,
			#8e8484 75%,
			#8e8484
		),
		linear-gradient(45deg, #8e8484 25%, transparent 25%, transparent 75%, #8e8484 75%, #8e8484),
		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-position:
		0 0,
		25px 25px,
		25px 0,
		0 25px;
}

header {
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 10svh;
}

header .logo {
	font-size: 25px;
	font-weight: bold;
	display: flex;
	align-items: center;
}

header .logo img {
	max-height: 100px;
	margin-right: 20px;
}

nav  {
	max-height: 10svh;
  display: flex;
justify-content: space-evenly;
}

nav a {
	/* max-height: 8svh;*/
	color: #000;
	text-decoration: none;
	background-color: #c2bfbffc;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
}

nav img {
	max-height: 10svh;
}

nav a:hover {
	background-color: #555;
}

.main-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px;
	background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent to blend with chessboard */
	margin: 100px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content img {
	max-width: 45%;
	border-radius: 10px;
}

.main-content div {
	max-width: 50%;
}

.main-content h1 {
	font-size: 28px;
	margin-bottom: 20px;
	text-decoration: underline;
}

footer {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.9);
	color: #000;
	margin-top: 60px;
}
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
}